[submodule "plugins/jquery-plugin-circliful"]
	path = plugins/jquery-plugin-circliful
	url = git@github.com:pguso/jquery-plugin-circliful.git
[submodule "plugins/bootstrap-ajax-typeahead"]
	path = plugins/bootstrap-ajax-typeahead
	url = git://github.com/biggora/bootstrap-ajax-typeahead.git
[submodule "plugins/easy-pie-chart"]
	path = plugins/easy-pie-chart
	url = git@github.com:rendro/easy-pie-chart.git
